.sign-in {
    width: 30vw;
    display: flex;
    flex-direction: column;

    .title {
        margin: 10px 0;
    }

    .subtitle {
        font-size: 18px;
    }

    .buttons {
        display: flex;
        justify-content: flex-start;
    }
}

@media screen and (max-width: 1024px) {
    .sign-in {
        width: 100%;
    }
}