* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 20px 60px;
}

a {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 1024px) {
    body {
        padding: 20px 15px;
    }
}